body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: #e5e7eb;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  border: 3px solid #38bdf8;
  margin-bottom: 20px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

h1 {
  font-size: 3.5rem;
  color: #38bdf8;
}

.role { color: #cbd5f5; }
.tagline { color: #94a3b8; margin-bottom: 20px; }

.btn {
  padding: 12px 30px;
  background: #38bdf8;
  color: #020617;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.section {
  padding: 70px 20px;
  max-width: 1000px;
  margin: auto;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

h2 {
  text-align: center;
  color: #38bdf8;
  margin-bottom: 30px;
}

.card {
  background: rgba(2,6,23,0.8);
  padding: 20px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(56,189,248,0.4);
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

.skills-grid span {
  display: inline-block;
  background: #020617;
  padding: 8px 15px;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 0 0 10px rgba(56,189,248,0.4);
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.contact { text-align: center; }

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  color: #64748b;
}
