body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: #e5e7eb;
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(2,6,23,0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  z-index: 100;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
  font-weight: bold;
}

.nav-btn {
  background: #38bdf8;
  color: #020617 !important;
  padding: 8px 15px;
  border-radius: 20px;
}

.logo { color: #38bdf8; font-size: 20px; }

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-pic {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #38bdf8;
  margin-bottom: 20px;
  box-shadow: 0 0 25px rgba(56,189,248,0.6);
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  50% { transform: translateY(-10px); }
}

h1 { font-size: 3.5rem; color: #38bdf8; }
.role { color: #cbd5f5; }
.tagline { color: #94a3b8; margin-bottom: 20px; }

.btn, .btn-outline {
  padding: 12px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.btn { background: #38bdf8; color: #020617; }
.btn-outline { border: 2px solid #38bdf8; color: #38bdf8; }

.section {
  padding: 90px 20px;
  max-width: 1000px;
  margin: auto;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

.show { opacity: 1; transform: translateY(0); }

h2 { text-align: center; color: #38bdf8; margin-bottom: 30px; }

.card {
  background: rgba(2,6,23,0.8);
  padding: 20px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(56,189,248,0.4);
}

.skills-grid span {
  display: inline-block;
  background: #020617;
  padding: 8px 15px;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 0 0 10px rgba(56,189,248,0.4);
}

.highlight {
  background: rgba(56,189,248,0.05);
  padding: 40px;
}

.stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.stats h3 { color: #38bdf8; font-size: 2.5rem; }

.contact { text-align: center; }

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  color: #64748b;
}
